*.class

# Package Files #
*.war
*.ear
/bin/
/*/bin/
/bin.lck
.classpath
.project
.settings
/ContentTypes.properties
/InterpreterOverrides.properties
/travis.log
/server.log
/server.log.lck
/help.yml
/permissions.yml
/webroot
/sites
/lib/META-INF
/nbproject/private/
/build/
/*/build/
/manifest.mf
/config.yaml
/start.sh
/debug.sh
/*.key
/*.crt
/logs
/.metadata
/sessions/
/plugins
/.gradle/
/.groovy/
/accounts
/libraries
/tmp
/ChioriAPI
